<section class="prefooter">
  <div class="place ityflex">
    <div class="left-content">
      <h2>
        Things to check<br />
        before we start
      </h2>
      <ul>
        <li>You have full rights to the music.</li>
        <li>The music can be used on any platform worldwide.</li>
        <li>Your press kit is complete with photos, bio and great music.</li>
      </ul>

      <div class="centermobile"><a class="butn" (click)="openDialog()">Start Now</a></div>
    </div>

    <img src="././assets/img/discs.png" />
  </div>
</section>