<section id="artists" class="artists flexcenter">
    <div class="place">
      <h2>Join leading artists around the world</h2>

      <!-- Images -->
      <div class="ityflex">
        <div class="artist">
          <h3>Musicians</h3>
          <!-- Artists info -->
          <div class="ainfo">
            <h5 class="aname">Geva alon</h5>
            <h5>Rock-folk artist</h5>
          </div>
        </div>


        <div class="artist">
          <h3>Producers</h3>
          <!-- Artists info -->
          <div class="ainfo">
            <h5 class="aname">Geva alon</h5>
            <h5>Rock-folk artist</h5>
          </div>
        </div>

        <div class="artist">
          <h3>Composers</h3>
          <!-- Artists info -->
          <div class="ainfo">
            <h5 class="aname">Geva alon</h5>
            <h5>Rock-folk artist</h5>
          </div>
        </div>

        <div class="artist">
          <h3>Agents</h3>
          <!-- Artists info -->
          <div class="ainfo">
            <h5 class="aname">Geva alon</h5>
            <h5>Rock-folk artist</h5>
          </div>
        </div>

      </div>
    
    <!-- Keep doing my thing -->
    <div class="doin">
      <h2>Keep doing your thing</h2>
      <div class="ityflex">
        <div class="itemtext">
          <h4>Keep your rights</h4>
          <p>It’s your music and you keep all of the rights.</p>
        </div>

        <div class="itemtext">
          <h4>Revenue</h4>
          <p>Join the growing sync-licensing market and tap into a whole new revenue stream.</p>
        </div>

        <div class="itemtext">
          <h4>Inspire </h4>
          <p>Let your music help to tell the story and 
            be the soul of films around the world.</p>
        </div>

        <div class="itemtext">
          <h4>Non-exclusive</h4>
          <p>You can license with Artlist and still distribute/license your music anywhere else you choose.</p>
        </div>

        <div class="itemtext">
          <h4>Expand your reach</h4>
          <p>See your social and streaming channels grow as your music is recognized in thousands of films worldwide.</p>
        </div>

        <div class="itemtext">
          <h4>Creative community </h4>
          <p>Distribute your music through one of the top music licensing platforms in the world, and be part of a select group of composers and indie artists.</p>
        </div>
      </div>
    </div>

  </div>
  </section>