<section class="hero ityflex">
  <img class="logo" src="assets/img/logo.svg" />
  <div class="place">
    <h1>We want your inspiring music</h1>
    <!-- <p>
      Get your music into films, videos & TV all around the world. Join the
      Artlist family.
    </p> -->
    <div class="flexcenter">
      <!-- add scroll effect to next section -->
      <!-- <a href="#artists"><img src="././assets/img/dwn.svg"></a>
         -->
        <img class="godown" (click)="goDown()" src="././assets/img/dwn.svg" />
    </div>
  </div>
</section>
